@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --chakra-colors-body-bg: #fff;
  --chakra-colors-text: black;
  --chakra-lineHeights-text: 1.5;
  --chakra-colors-accent: #D4212D;
  --chakra-radii-md: 0.8rem;
  --chakra-colors-white: #FFFFFF;
  --chakra-colors-neutralGray: #979797;
}

body {
  color: var(--chakra-colors-text);
  line-height: var(--chakra-lineHeights-text);
  font-size: 16px;
  font-weight: 300;
}


/* .react-datepicker__time-container {
  display: none;
} */