.global_container_wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* border: 2px solid red; */
}

.global_container {
    margin-right: auto;
    margin-left: auto;
    max-width: 80rem;
    padding-top: 4rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    flex-grow: 1;
    /* border: 2px solid blue; */
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.main_body_logo_text {
    display: flex;
    flex-wrap: wrap;
    font-size: 44px;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    color: var(--chakra-colors-neutralGray);
    /* border: 2px solid blue; */

}

.main_body_logo_accent {
    color: var(--chakra-colors-accent);
}

.main_body_logo_word {
    margin-right: 10px;
}

.schedule_container_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    justify-self: center;
    /* border: 2px solid red; */
}

.schedule_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    align-self: center;
    justify-self: center;
    /* border: 2px solid red; */
}

.application_card_footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}