.header_container_wrapper {
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
    margin-inline-start: auto;
    margin-inline-end: auto;
    color: var(--chakra-colors-text);
    /* border: 2px solid red; */
}

.header_container {
    display: block;
    unicode-bidi: isolate;
    color: var(--chakra-colors-text);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.header_container_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_container_top_logo {
    position: relative;
    margin-right: 10px;
}

.header_container_wrapper .a {
    background-color: transparent;
    color: inherit;
    text-decoration: inherit;
}

.header_logo_wrapper {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}

.header_actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_logo_image {
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    max-width: 250px;
    min-width: 200px;
    width: 100%; /* Fallback width */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain;
}

.header_logo_image_logo {
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 50px;
    height: 50px;
    object-fit: contain;
    /* border: 2px solid red; */
}

.header_login_button_wrapper {
    cursor: pointer;
    text-decoration: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
    margin-left: auto;
}

.header_login_button {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    height: 50px;
    align-items: center;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    background-color: var(--chakra-colors-accent);
    border-radius: var(--chakra-radii-md);
    color: var(--chakra-colors-white);
    font-size: 18px;
    font-weight: 500;
    transition: box-shadow 0.15s ease-out;
}

@media screen and (max-width: 768px) {
    .header_login_button {
        padding-inline-start: 0.5rem;
        padding-inline-end: 0.5rem;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        gap: 0.5rem;
    }
}

.header_login_button svg {
    width: 32px;
    height: 32px;
    fill: none;
}

.header_nav_burger_wrapper {
    display: block;
}

.header_nav_burger_button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--chakra-colors-accent);
    flex-shrink: 0;
}

@media screen and (max-width: 768px) {
    .header_nav_burger_button {
        width: 35px;
        height: 35px;
    }
}

.header_nav_burger_button {
    background: transparent;
    padding: 0;
}

.header_nav_burger_button svg {
    width: 100%;
    height: 100%;
    fill: none;
}

.header_container_menu {
    display: none;
    margin-top: 20px;
}

@media screen and (min-width: 980px) {
    .header_container_menu {
        display: block;
    }
}

.header_container_menu_nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav_link {
    cursor: pointer;
    text-decoration: none !important;
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: inherit;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: flex-start;
    text-align: left;
    text-transform: inherit;
    height: auto;
    flex-shrink: 0;
    border-radius: none;
}

@media screen and (max-width: 980px) {
    .nav_link {
        font-size: 22px;
    }
}

.nav_logo_banner_wrapper {
    display: flex;
    width: 100%;
}

.nav_header_banner {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    text-align: left;
    font-size: 16px;
}

.menu_logo_image {
    width: 100%;
    max-width: 50px;
}

.menu_logo_text_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    color: var(--chakra-colors-neutralGray);
}

.menu_logo_text {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    width: 100%;
}

.nav_item_1 {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-normal);
    -webkit-padding-start: var(--chakra-space-4);
    padding-inline-start: var(--chakra-space-4);
    -webkit-padding-end: var(--chakra-space-4);
    padding-inline-end: var(--chakra-space-4);
    padding-top: var(--chakra-space-2);
    padding-bottom: var(--chakra-space-2);
    width: 100%;
    padding: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    color: var(--chakra-colors-neutralGray);
    font-size: 1.9rem;
    font-weight: var(--chakra-fontWeights-bold);
}

.nav_link_accordion {
    cursor: pointer;
    text-decoration: none !important;
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: inherit;
    font-size: 22px;
    font-weight: 400;
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: flex-start;
    text-align: left;
    text-transform: inherit;
    height: auto;
    flex-shrink: 0;
    border-radius: none;
}

.nav_link_accordion_item {
    cursor: pointer;
    text-decoration: none !important;
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: inherit;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: flex-start;
    text-align: left;
    text-transform: inherit;
    height: auto;
    flex-shrink: 0;
    border-radius: none;
    margin-inline-start: 1rem;
}